# Deno
.deno/
deno.lock
cov_profile/
dist/
dev/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Documentation
docs/_build/
.docs/_build/

# Database
*.sqlite
*.sqlite-journal

# Project Directories
projects/
assets/vendored/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
